* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    height: 100vh;
}
table {
    border: 1px solid black;
}
.t-content {
    font-size: 40px;
    padding: 2px;
    border: 1px solid black;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}